@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

a {
  text-decoration: none;
  color: #333;

  &:hover {
    color: #48AC98;
  }

  span {
    color: #333;
    margin: 0 1rem;

    &:hover {
      color: #48AC98;
    }
  }
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-burger {
  cursor: pointer;
  display: block;
  height: 2.75rem;
  position: relative;
  width: 2.75rem;
  margin-left: auto;

  span {
    background-color: currentColor;
    display: block;
    height: 2px;
    left: calc(50% - 15px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 30px;

    &:nth-child(1) {
      top: calc(50% - 12px);
    }

    &:nth-child(2) {
      top: calc(50% - 2px);
    }

    &:nth-child(3) {
      top: calc(50% + 8px);
    }
  }
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-burger {
    display: none;
  }
}

.replace-container {
  position: relative;
  height: 40px;
  width: 180px;
  overflow: hidden;

  .replace-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all ease 0.5s;

    .link-w {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('assets/img/logout-logo.png');
      background-repeat: no-repeat;
      background-position: right 18px top 9px;
      width: 200px;

      &:hover {
        background-image: url('assets/img/logout-logo1.png');
        background-repeat: no-repeat;
        background-position: right 18px top 9px;
        width: 200px;
        color: #48AC98;
      }
    }

    .button-w {
      margin: 2rem 0;
    }
  }
}


.mobile-menu-w {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1000;
  padding-top: 70px;
  top: -100vh;
  transition: all ease 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-w {
    border-top: 1px solid #ccc;

    .menu-item-w {
      width: 100%;
      border-bottom: 1px solid #ccc;
      text-align: center;
      padding: 0.5rem;
    }

    .button-w {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;

      .btn {
        margin: 1rem;
      }
    }
  }

  .bottom-w {
    border-top: 1px solid #ccc;

    .menu-item-w {
      width: 100%;
      border-bottom: 1px solid #ccc;
      text-align: center;
      padding: 0.5rem;
    }
  }
}

.mobile-menu-show {
  top: 0;
}
