<header>
  <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top ">
    <a class="navbar-brand" href="/" translate>
      <img src="/assets/img/logo.png" class="header-img" width="200" height="120" />
      <div class="btn btn-info header-btn" style="display: none;">Open accout</div>
    </a>
    <div class="navbar-burger is-active" [ngClass]="{'is-active': !menuHidden}" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none">
      <div class="navbar-nav ml-auto">
        <a href="/" class="nav-item nav-link ">
          <span translate>Bank Account</span>
        </a>
        <a href="/" class="nav-item nav-link">
          <span translate>Black</span>
        </a>
        <a href="/" class="nav-item nav-link">
          <span translate>Plans</span>
        </a>
        <a href="/" class="nav-item nav-link">
          <span translate>Support</span>
        </a>
        <div class="replace-container">
          <div class="replace-wrapper">
            <div class="link-w">
              <span translate>Online-Banking</span>
              <!-- <img src="/assets/img/logout-logo.png" /> -->
            </div>
            <div class="button-w">
              <div class="btn btn-info">Open accout</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="mobile-menu-w" [ngClass]="{'mobile-menu-show': !menuHidden}">
  <div class="top-w">
    <div class="menu-item-w">
      <a href="/" class="nav-item nav-link ">
        <span translate>Bank Account</span>
      </a>
    </div>
    <div class="menu-item-w">
      <a href="/" class="nav-item nav-link">
        <span translate>Black</span>
      </a>
    </div>
    <div class="menu-item-w">
      <a href="/" class="nav-item nav-link">
        <span translate>Plans</span>
      </a>
    </div>
    <div class="menu-item-w">
      <a href="/" class="nav-item nav-link">
        <span translate>Support</span>
      </a>
    </div>
    <div class="button-w">
      <div class="btn btn-info">Open accout</div>
    </div>
  </div>
  <div class="bottom-w">
    <div class="menu-item-w">
      <a href="/" class="nav-item nav-link">
        <span translate>Online-Banking</span>
      </a>
    </div>
  </div>
</div>
