<div class="banner-section">
  <div class="container">
    <div class="banner-w">
      <div class="title-w">
        <h2>Find a plan that works for you.</h2>
        <h5>Personal Business</h5>
      </div>
    </div>
  </div>
</div>
<div class="card-section">
  <div class="container">
    <div class="card-w">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card-box">
            <div class="title-w">
              N26
            </div>
            <div class="card-image-w">
              <img src="/assets/img/Standard.jpg"  class="img-fluid"/>
            </div>
            <div class="dot">
              <div style="background: linear-gradient(to top, rgba(33, 20, 20, 0.14) 0, rgba(0, 0, 0, 0.5) 100%);"></div>
            </div>
            <div class="btn-w">
              <div class="btn btn-info">Open account</div>
            </div>
            <div class="price-box">
              <div class="header">
                <div>€0.00</div><span>/month</span>
              </div>
              <div class="body">
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_4.png" />
                  </div>
                  <div class="text">
                    Free ATM withdrawals in euros
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_4.png" />
                  </div>
                  <div class="text">
                    Free payments in any currency
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_5.png" />
                  </div>
                  <div class="text">
                    Free withdrawals worldwide
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_6.png" />
                  </div>
                  <div class="text">
                    Allianz insurance package
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card-box">
            <div class="title-w">
              N26 Black
            </div>
            <div class="card-image-w">
              <img src="/assets/img/standard1.jpg" class="card-image-section img-fluid" />
            </div>
            <div class="dot">
              <div style="background: linear-gradient(to top, rgba(35, 31, 31, 0.28) 0, rgba(0, 0, 0, 0.78) 100%);"></div>
            </div>
            <div class="btn-w">
              <div class="btn btn-info">Open account</div>
            </div>
            <div class="price-box">
              <div class="header">
                <div>€9.90</div><span>/month</span>
              </div>
              <div class="body">
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_4.png" />
                  </div>
                  <div class="text">
                    Free ATM withdrawals in euros
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_4.png" />
                  </div>
                  <div class="text">
                    Free payments in any currency
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_7.png" />
                  </div>
                  <div class="text">
                    Free withdrawals worldwide
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <img src="/assets/img/Screenshot_8.png" />
                  </div>
                  <div class="text">
                    Allianz insurance package
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="desc-w">
  <div class="container">
    <p>
      Services and Fees for everyone who registers with an address in Belgium, Estonia, Finland, Greece, Ireland,
      Latvia, Lithuania, Luxembourg, Netherlands, Portugal, Slovakia, Slovenia, Sweden, Norway, Denmark, Poland,
      Iceland and Liechtenstein.
    </p>
    <p>Black not available in Greece, Slovenia.</p>
    <p>For our detailed price list, view PDF here</p>
  </div>
</div>

