.banner-section {
  .banner-w {
    padding-top: 5rem;
    background: #F5F5F5;

    .title-w {
      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }

      h5 {
        text-align: center;
        font-weight: 300;
        margin: 0;
      }
    }
  }
}

.card-section {
  .card-w {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 450px;
      background: #F5F5F5;
    }

    @media (max-width: 768px) {
      &::before {
        display: none;
      }
    }

    .row {
      max-width: 600px;
      margin: auto;
      .col-sm-6 {
        padding: 0;
      }
    }

    .card-box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;

      @media (max-width: 768px) {
        &::before {
          content: " ";
          position: absolute;
          width: 100%;
          height: 370px;
          background: #F5F5F5;
          z-index: -10;
        }

        background: white;
      }

      .title-w {
        padding: 1rem 0;
        font-size: 1.75rem;
        font-weight: bold;
      }

      .card-image-w {
        margin-bottom: 1rem;
        box-shadow: 0 45px 65px -40px rgb(116, 116, 116);
      }

      .dot {
        margin: 1rem 0;

        &>div {
          width: 30px;
          height: 30px;
          border-radius: 15px;

        }
      }

      .btn-w {
        padding: 1rem 0;
        margin-bottom: 2rem;
      }

      .price-box {
        margin-top: 1rem;
        padding: 1rem;
        transition: all ease 0.5s;
        box-shadow: 0 20px 55px -37px rgb(201, 201, 201);

        &:hover {
          box-shadow: 0 35px 55px -25px rgb(201, 201, 201);
        }

        .header {
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: bold;
          }

          span {
            color: #666;
          }
        }

        .body {
          width: 100%;

          .item {
            display: flex;
            align-items: center;

            .icon {
              margin: 0.5rem 1rem;
            }

            .text {}
          }
        }
      }
    }
  }
}

.desc-w {
  font-size: 12px;
  color: #747474;
}
